@{
    ViewBag.Title = "Home";
}

    <div style="        
        background-image: url('../../Img/HOMEPAGE.jpg');" class="jumbotron">
        <h1 style="color:darksalmon">Welcome</h1>
        <h1 style="color:darksalmon"> @User.Identity.Name Test</h1>
    </div>

